<div class="op post-container">
  <%= render 'components/post_header', post: post %>
  <div>
    <% if post.photo_url != '' %>
      <%= image_tag post.photo_url,
      height: 100,
      width: 150 %>
    <% else %>
      <%= cl_image_tag post.photo.key,
      height: 100,
      width: 150 %>
    <% end %>
    <h3>
      <%= post.title %>
    </h3>
    <p>
      <%= post.content %>
    </p>
  </div>
  <%= render 'components/post_footer', post: post %>
</div>
