<% post = thread.posts.first %>
<div class="thumb" id="t<%= thread.bt_id %>">
  <%= render 'components/post_header', post: post %>
  <div class="post-content">
    <h3><%= post.title %></h3>
    <% if post.photo_url %>
      <%= image_tag post.photo_url,
          height: 100,
          width: 150 %>
    <% else %>
      <%= cl_image_tag post.photo.key,
          height: 100,
          width: 150 %>
    <% end %>
    <p><%= post.content %></p>
  </div>
  <%= render 'components/post_footer', post: post %>
</div>
