<main class="thread" data-controller="toggle-form">

  <%= render "components/op", post: @op %>

  <% @posts.each do |post| %>

<!-- define the frame for the post -->
    <%= turbo_frame_tag "post-#{post.id}" do %>
      <%= render "components/post", post: post %>
    <% end %>

<!-- define the main div to conain replies -->
          <div class="replies-container">
            <!-- this will be updated  when new replies are added by users -->
            <%= turbo_frame_tag "post-#{post.id}-replies" do %>
                <% post.replies.each do |reply| %>
                  <!-- this frame isn't used for now -->
                  <%= turbo_frame_tag "reply-#{reply.id}" do %>
                    <%= render "components/post", post: reply %>
                  <% end %>
                <% end %>
            <% end %>
          </div>
  <% end %>

  <div class="thread-footer">
    <div class="hidden" data-toggle-form-target="form">
      <%= render 'components/new_post_form', board: @board, thread: @thread %>
    </div>
    <%= link_to 'Reply to thread',
    '#',
    data: { action: "click->toggle-form#toggleForm" } %>
    <%= link_to 'Back to board', board_path(@board) %>
  </div>

</main>
