<main class="thread" data-controller="toggle-form">

  <%= render "components/op", post: @op %>

  <% @posts.each do |post| %>
    <%= turbo_frame_tag "post-#{post.id}" do %>
      <%= render "components/post", post: post %>
    <% end %>
        <%= turbo_frame_tag "new_reply_post_#{post.id}" %>
  <% end %>

  <div class="thread-footer">
    <div class="hidden" data-toggle-form-target="form">
      <%= render 'components/new_post_form', board: @board, thread: @thread %>
    </div>
    <%= link_to 'Reply to thread',
    '#',
    data: { action: "click->toggle-form#toggleForm" } %>
    <%= link_to 'Back to board', board_path(@board) %>
  </div>

</main>
