<main class="thread" data-controller="toggle-form">

  <%= turbo_frame_tag "post-#{@op.id}" do %>
    <%= render "components/post_with_replies", post: @op %>
  <% end %>
  
  <% @posts.each do |post| %>

  <!-- define the frame for the post -->
    <%= turbo_frame_tag "post-#{post.id}" do %>
      <%= render partial: 'components/post_with_replies', locals: { post: post } %>
    <% end %>

  <% end %>

  <div class="thread-footer">
    <div class="hidden" data-toggle-form-target="form">
      <%= render 'components/new_post_form', board: @board, thread: @thread %>
    </div>
    <%= link_to 'Reply to thread',
    '#',
    data: { action: "click->toggle-form#toggleForm" } %>
    <%= link_to 'Back to board', board_path(@board) %>
  </div>
</main>
