<%= link_to "Create thread", new_board_board_thread_path(@board) %>
<% if @rule_post %>
  <div>
    <div>
      <%= cl_image_tag @rule_post.photo.key,
      height: 100,
      width: 100 %>
    </div>
    <div>
      <h3><%= @rule_post.title %></h3>
      <p><%= @rule_post.content %></p>
    </div>
  </div>
<% end %>

<% @threads.each do |t| %>
  <%= link_to t.posts.first.title, board_board_thread_path(@board, t) %>
<% end %>
