<main class="board" data-controller="toggle-form">
  <div class="hidden" data-toggle-form-target="form">
    <%= render 'components/new_thread_form', locals: { board: @board } %>
  </div>
  <%= link_to "Create thread",
  "#",
  data: { action: "click->toggle-form#toggleForm" }%>

  <% if @rule_post %>
    <%= render 'components/rule_post', post: @rule_post %>
  <% end %>

  <% @thumbs.each do |t| %>
    <%= link_to board_board_thread_path(@board, t[:thread]) do %>
      <%= render 'components/thread_thumb', thread: t[:thread], post: t[:op] %>
    <% end %>
  <% end %>



  <%= link_to 'Back to board list', boards_path %>
</main>
