<main class="board">
  <%= link_to "Create thread", new_board_board_thread_path(@board) %>
  <% if @rule_post %>
    <%= render 'components/rule_post', post: @rule_post %>
  <% end %>

  <% @threads.each do |t| %>
    <%= link_to board_board_thread_path(@board, t) do %>
      <%= render 'components/thread_thumb', thread: t %>
    <% end %>
  <% end %>

  <%= link_to 'Back to board list', boards_path %>
</main>
